<style>

.nav {

    margin:auto;
    text-align: center;
    /*width:105%; homepage*/
    width:100%;



}
.sec {
	width:620px;
}

.sub {
	font-family: Arial, sans-serif !important;
	text-transform: capitalize !important;
	padding: 10px 8px 10px 8px !important;

}

.small {
	font-size: 14px !important;
	line-height: 18px !important;
}

    .nav ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
}

.nav ul li {
	display: inline;
	margin: 0 auto;

}

.nav a {
	color: #046B98 !important;
}

.nav a:link, .nav a:visited {

	display: inline-block;
	padding: 0 8px 0 8px;
	padding: 0 7px 0 7px\9;
	height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Francois One"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23.4px;
}

.nav a:hover, .nav a:active, 
    .nav .active a:link, .nav .active a:visited {
    color: #22A5DE !important;
	/*background-color: #104a5e;*/

}

</style>